#################################
# Apple-specific Files / Folders
#################################
**/.DS_Store
**/.Trashes

##########################
# Node.js Files / Folders
##########################
npm-debug.log
node_modules
bower_components

############################
# Sequelize Files / Folders
############################
config/postgres-config.js
config/server-config.js

###############################
# IDE-specific Files / Folders
###############################
.idea
.vscode
**/.project
*.iml

###############################
# Java Class Files
###############################
target/

####################################
# Additional Random Files / Folders
####################################
public/api_docs