extends layout

block content
  h1= title
  p Welcome to the #{title} page, login is working!


  br
  br
  p This platorm is be powered by node js, express, postgreSQL, and jade
  p Constellation can be found on github and is free for anyone to take, tweak, and share their changes!
