extends layout

block content
  h1= title
  p Welcome to the #{title} page, login is working!
  br
  h4 What do you want to do?
  form(name="todo", method="post")
          div.input
              span.label
              select(name="myselection")
                option(value="create") create
                option(value="lookup") lookup
                option(value="exit") logout
          div.actions
              input(type="submit", value="Submit Credentials")
  br
  p This platorm is be powered by node js, express, postgreSQL, and jade
  p Constellation can be found on github and is free for anyone to take, tweak, and share their changes!
