extends layout

block content
  h1= title
  p Welcome to #{title} a scheduling platform designed to show the impact of open source in education
  br
  br
  p This platorm will be powered by node js, express, postgreSQL, and jade
  p The project can be found on github and is free for anyone to take, tweak, and share their changes!
