extends layout

block content
  h1= title
  p Welcome to #{title} a scheduling platform designed to show the impact of open source in education
  br
  br
  p Please enter your username and password to login:

  form(name="submitcreds", method="post")
          div.input
              span.label
              input(type="text", name="username" placeholder="username")
              br
              input(type="text", name="password" placeholder="password")
          div.actions
              input(type="submit", value="Submit Credentials")

  br
  br
  p This platorm is be powered by node js, express, postgreSQL, and jade
  p Constellation can be found on github and is free for anyone to take, tweak, and share their changes!
